<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">


    <label class="fld-label actAsDiv clearfix grpelem" id="u14450-4"
           th:for="${'answer-' + question.id} + '-' + ${question.class.simpleName}">
        <!-- content --><span class="actAsPara"
                              th:text="${question.questionText}">Which problem solves it?</span></label>
    <small th:if="${question.additionalInfo}" th:text="${question.additionalInfo}">Additional Info</small>

    <div>
        <span class="fld-textarea actAsDiv clearfix grpelem" id="u14448-4"><!-- content -->
            <textarea th:id="${'answer-' + question.id} + '-' + ${question.class.simpleName}"
                      th:name="${'answer-' + question.id} + '-' + ${question.class.simpleName}"
                      th:text="${question.answerText}"
                      rows="4" cols="50"
                      class="wrapped-input" name="custom_U14447" tabindex="3"
                      placeholder="Please insert"></textarea>
        </span>
    </div>
</div>
</body>



