<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="clearfix colelem question"><!-- content -->
        <p th:text="${question.questionText}">How does it work?</p>
    </div>
    <!--<small th:if="${question.additionalInfo}" th:text="${question.additionalInfo}">Additional Info</small>-->
    <div class="clearfix colelem answer" th:if="${question.answered}">
        <p th:name="${'answer-' + question.id} + '-answerText'"
           th:text="${question.answerText}">
        </p>
    </div>
    <div class="clearfix colelem answer" th:unless="${question.answered}">
        <p>No answer given.</p>
    </div>
</div>
</body>