<div>
    <!-- TODO how to put the right heading here? -->
    <h5>Feedback of the ideator-community</h5>
    {{#each choiceRowWithSummaries}}
        <div class="row rating-block-row">
            <div class="col-4">
                <p>{{rowLabel}}</p>
            </div>
            <div class="col-1">
                <div class="arrow-right"></div>
            </div>
            <div class="col-3">
                <p><span>{{avgRating}}</span>
                <span>({{numRating}})</span></p>
            </div>
        </div>
    {{/each}}
</div>
