<h5>{{questionText}}</h5>
<div class="row single-choice-answer">
    <div class="arrow-right"></div>
    <span>{{ratingSummary.valueLabel}}</span>
    <span>({{ratingSummary.numRating}})</span>
</div>
